apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ptvs
  namespace: mankind
spec:
  podSelector:
    matchLabels:
      app: ptvs
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          istio-injection: enabled
